@import 'tailwindcss';
@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif Display', sans-serif;
}
